.BodyCont {
    height: 65vh;
    width: 100vw;
    margin-top: 15vh;

    .BoxCont {
      height: 100%;
      text-align: center;

      .Box {
        background-color: #e8e8e8;
        border-radius: 7px;
        width: 100%;
        height: 100%;
        padding-top: 3%;
        
        h1{
          color: #30475e;
        }
        p {
          color: #30475e;
          font-size: 1.1rem;
          width: 90%;
          margin: auto;
          @media screen and (max-width: 678px) {
            font-size: .8rem;
        }
        }
        form {
          width: 90%;
          margin: auto;
          margin-top: 8%;

        }
        
        .input {
          width: 70%;
          font-size: 1rem;
          margin-top: 5%;
        }
        .btn {
          margin: auto;
          display: block;
          margin-top: 10%;
          color: #f05454;
          width: 25%;
          height: 8vh;
          font-weight: bold;
          &:disabled {
            color: white;
          }
         
          @media screen and (max-width: 678px) {
              font-size: .75rem;
              width: 35%;
          }
        }
        .btnWrong {
          margin: auto;
          margin-top: 2%;
          color: #f05454 !important;
          height: 8vh;
        font-weight: bold;
          display: block;
          width: 90%;
          &:hover {
            background-color: transparent;
          }
        }
        .errorCont {
          color: red;
          margin-top: 5%;
        }
    }
    }
  }


  